[Unit]
Description=Caddy's service
ConditionFileIsExecutable=/usr/local/bin/caddy

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/usr/local/bin/caddy "-agree=true" "-conf=/usr/local/bin/Caddyfile" "-email=abc@z.com"

Restart=always
RestartSec=120
EnvironmentFile=-/etc/sysconfig/caddy

[Install]
WantedBy=multi-user.target
